body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-container {
  position: relative;
}
.image-container .after {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  top: 0;
  left: 0;
}
.image-container .left {
  text-align: left;
}
.image-container .right {
  text-align: right;
}
.image-container .after {
  display: block;
  background: rgba(0, 0, 0, 0.2);
}

.user-avatar {
  height: 32px;
  border-radius: 5px;
}
